<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NightMode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0F4FB041DC827CE0022F3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F4FB1D1DC827CE0022F3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F4FB281DC827CE0022F3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
